{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>
        {% block title %}

        
        {% endblock %}
    </title>

    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href={% static "company/assets/img/favicon.png" %} rel="icon">
    <link href={% static "company/assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href={% static "company/assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "company/assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <link href={% static "company/assets/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet">
    <link href={% static "company/assets/vendor/aos/aos.css" %} rel="stylesheet">
    <link href={% static "company/assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
    <link href={% static "company/assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href={% static "company/assets/css/main.css" %} rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: UpConstruction - v1.2.1
    * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  
  <body>

   
  
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

  
      


       <a href="{% url 'home' %}" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src={% static "company/assets/img/logo.png" %} alt=""> -->
          <h1>UpConstruction<span>.</span></h1>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}" >About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}
            <li><a href="{% url 'register_user' %}">Register</a></li>

            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}



          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

    <div>
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
